.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.card{
    background: #48A14D;
}

.example-full-width{
    width: 100%;
}

.link{
    margin: 1rem;
    font-size: medium;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}